<div class="container-fluid d-flex " style= "hight: 100vh;" id="login">
  <div id="reg-img-div"class="container col-9">
  </div>
  <div class="container col-3 d-flex justify-content-center align-items-center">
    <h2>Sign up</h2>
  <div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs col-10 ">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
  </div>
    <div><%= render "devise/shared/links" %></div>
  </div>

</div>
