    <div data-tabs-target="tab" id="one" >
      <div class="movescard" id="client-index" data-controller="hbutton">
        <% bids.where(status: "open").each do |bid|%>

          <div class="card" data-controller="popup" data-popup-id-value="<%= bid.id %>">
            <div id="indexcard" class="card-body">
              <div class="status-icon">
                <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= bid.status %></h6>
                  <div class="d-flex">
                  <h2><%= bid.price %> €</h2>
                </div>
              </div>
              <div id="indexcard" class="card-body">
                <h6 id="showcards" class="card-title">
                  <i class="iconmove fa-solid fa-calendar" style="color: #f66b0e;"></i>
                  <%= bid.move.date.strftime("%d %b %Y") %>
                </h6>
                <h6 id="showcards" class="card-title">
                  <i class="iconmove fa-regular fa-clock" style="color: #f66b0e;"></i>
                  <%= bid.move.date.strftime("%l:%m %p") %>
                </h6>
                <h6 id="showcards" class="card-text">
                  <i class="iconmove fa-solid fa-location-dot" style="color: #f66b0e;">
                  </i> From: <%= bid.move.start_point %>
                </h6>
                <h6 id="showcards" class="card-text">
                  <i class="iconmove fa-solid fa-map-pin" style="color: #f66b0e;">
                  </i> To: <%= bid.move.end_point %>
                </h6>
              </div>
            </div>
          </div>

          <div id="<%= bid.id%>" data-status-target="bidid" data-bid="<%= bid.id%>"  class="d-none">
            <%= render "bids_show", bid: bid %>
          </div>

        <% end %>
      </div>
    </div>

    <div data-tabs-target="tab" id="two">
      <div class="movescard" id="client-index">
        <% bids.where(status: "pending").each do |bid|%>
          <div class="card" data-controller="popup" data-popup-id-value="<%= bid.id %>">
            <div id="indexcard" class="card-body">
              <div class="status-icon">
                <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= bid.status %> </h6>
                <div class="d-flex">
                  <h2><%= bid.price %> €</h2>
                </div>
              </div>
              <div id="indexcard" class="card-body">
                <h6 id="showcards" class="card-title">
                  <i class="iconmove fa-solid fa-calendar" style="color: #f66b0e;"></i>
                  <%= bid.move.date.strftime("%d %b %Y") %>
                </h6>
                <h6 id="showcards" class="card-title">
                  <i class="iconmove fa-regular fa-clock" style="color: #f66b0e;"></i>
                  <%= bid.move.date.strftime("%l:%m %p") %>
                </h6>
                <h6 id="showcards" class="card-text">
                  <i class="iconmove fa-solid fa-location-dot" style="color: #f66b0e;">
                  </i> From: <%= bid.move.start_point %>
                </h6>
                <h6 id="showcards" class="card-text">
                  <i class="iconmove fa-solid fa-map-pin" style="color: #f66b0e;">
                  </i> To: <%= bid.move.end_point %>
                </h6>
                <% if !@confirmed %>
                  <button class="small_button_goal" data-action="click->status#update" data-bid="<%= bid.id%>" > Confirm</button>
                <% end %>
              </div>
            </div>
          </div>
          <div id="<%= bid.id%>" data-status-target="bidid" data-bid="<%= bid.id%>" class="d-none">
            <%= render "bids_show", bid: bid %>
          </div>
        <% end %>
      </div>
    </div>

    <div data-tabs-target="tab" id="three">
      <div class="movescard" id="client-index">
        <% bids.where(status: "confirmed").each do |bid|%>
          <div class="card" data-controller="popup" data-popup-id-value="<%= bid.id %>">
            <div id="indexcard" class="card-body">
              <div class="status-icon">
                <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= bid.status %></h6>
                  <div class="d-flex">
                  <h2><%= bid.price %> €</h2>
                </div>
              </div>
              <div id="indexcard" class="card-body">
                <h6 id="showcards" class="card-title">
                  <i class="iconmove fa-solid fa-calendar" style="color: #f66b0e;"></i>
                  <%= bid.move.date.strftime("%d %b %Y") %>
                </h6>
                <h6 id="showcards" class="card-title">
                  <i class="iconmove fa-regular fa-clock" style="color: #f66b0e;"></i>
                  <%= bid.move.date.strftime("%l:%m %p") %>
                </h6>
                <h6 id="showcards" class="card-text">
                  <i class="iconmove fa-solid fa-location-dot" style="color: #f66b0e;">
                  </i> From: <%= bid.move.start_point %>
                </h6>
                <h6 id="showcards" class="card-text">
                  <i class="iconmove fa-solid fa-map-pin" style="color: #f66b0e;">
                  </i> To: <%= bid.move.end_point %>
                </h6>
              </div>
            </div>
          </div>
          <div id="<%= bid.id%>" data-status-target="bidid" data-bid="<%= bid.id%>" class="d-none">
            <%= render "bids_show", bid: bid %>
          </div>
        <% end %>
      </div>
    </div>
