<div class="container d-flex justify-content-between mt-3 mb-3">
  <div class="small-card align-content-center" >
      <h5 class="card-title"> <i class="fa-solid fa-calendar" style="color: #f66b0e"></i><%= @move.date.strftime("%d %b %Y") %></h5>
              <br>
      <h5 class="card-title"><i class="fa-regular fa-clock" style="color: #f66b0e"></i><%= @move.date.strftime("%l:%m %p") %></h5>
            <br><h6>from</h6>
      <h5 class="card-title"> <i class="fa-solid fa-location-dot" style="color: #f66b0e"></i><%= @move.start_point %></h5>
            <br><h6 class="ml-1" >to</h6>
      <h5 class="card-title"> <i class="fa-solid fa-map-pin"></i> <%= @move.end_point %></h5>
      <br>
      <h5 class="card-title"> <i class="fa-solid fa-arrows-rotate fa-spin"></i> <%= @move.status %></h5>
      <br>
      <h5 class="card-title"> <i class="fa-solid fa-circle-info"></i> <%= @move.shipment_info %></h5>
      <br>
      <%# <h5 class="card-title"> <i class="fa-solid fa-map-pin"></i> <% if @move.expiration%>
      <%# </h5> %>
      <%= simple_form_for([@move, @bid]) do |f| %>
        <div class="card-body">
          <% company = Company.find_by(user_id: current_user) %>
          <% if @bid = @move.bids.find_by(company_id: company) %>
            <div>
              <h6>your bid</h6>
              <div class="d-flex">
                <h2><%= @bid.price %> €</h2>
            </div>

          <% else %>
            <h5 class="card-text"><%= f.input :price %></h5>
            <button company_path id="submitBtn" class="small_button_goal" type="submit">Place bid</button>
            <% end %>
          <% end %>
        </div>
  </div>
</div>
    <div class="right-container"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <div id='map' style='width: 540px; height: 70vh;'></div>
          <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiZXN0aTI2IiwiYSI6ImNsaG9vMDF2cjFtMGozZHMxdmE0MnJrbzIifQ.SUs4-1vCL28RYJgPwDUFPA';
            const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v12', // style URL
            center: [-74.5, 40], // starting position [lng, lat]
            zoom: 9, // starting zoom
            });
            // const markers = <%= @markers.to_json %>; // Assuming @markers contains the coordinates of your instances

            // markers.forEach(marker => {
            //   new mapboxgl.Marker()
            //     .setLngLat(marker.coordinates) // Assuming the coordinates are in the format [longitude, latitude]
            //     .addTo(map);
          </script>
        </div>
    </div>
  </div>
