<div class="container col-4 d-flex justify-content-center">
  <div class =" col-6">
    <form novalidate="novalidate" class="filter-form simple_form " action="/" accept-charset="UTF-8" method="get">
        <select class="form-control string required" type="text" name="search[query]" id="search_query" >
          <option value="rating">rating</option>
          <option value="price">price</option>
        </select>
    </form>
  </div>

            <div><button name="button" type="submit" class="btn btn-flat">
                    <i class="fa-solid fa-filter"></i>
                  </button>
            </div>

</div>
<div class="container" width=50%>
  <div class="container col-10 mt-2 flex-wrap rounded d-flex justify-content-center ">
    <div class=" w-75 d-flex justify-content-center align-items-center flex-column mb-3" style="margin-top: 15px; ">
      <% @bids.each do |bid| %>
        <div id="Bids-cards" class="card-body mb-5 border d-flex">
          <h6 class="card-title"> </h6>
          <h6 class="titletext">  </h6>
          <div class="bid-div-col">
            <i class="icon-1 fa-solid fa-building" style="color: #f66b0e;"></i>
            <h6><%= Company.find(bid.company_id).name %></h6>
          </div>
          <div class="bid-div-col ">
            <i class="icon-2 fa-solid fa-tag" style="color: #f66b0e;"></i>
            <h6><%= bid.price %>€ </h6>
          </div>
          <div class="bid-div-col">
            <i class="icon-3 fa-solid fa-thumbs-up " style="color: #f66b0e;"></i>
            <%= "⭐" * rand(1..5) %>
          </div>
          <div class="bid-div-col">
            <i class="icon-4 fa-solid fa-calendar" style="color: #f66b0e;"></i>
            <%= bid.created_at.strftime(" %d %b %Y ") %>
          </div>
          <div class="bid-div-col">
            <i class="icon-5 fa-regular fa-clock" style="color: #f66b0e;"></i>
            <%= bid.created_at.strftime("%l:%M %p") %>
          </div>

          <div calss = "d-flex align-items-end">
          <%= button_to "hire", move_bid_path(bid.move_id, bid.id), method: :get, :class => "hire-button small_button_goal"%>
          <%= button_to "see details", move_bid_path(bid.move_id, bid.id),method: :get, :class => "details-button small_button"%>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>
