<% if Company.find_by(user_id: current_user.id) %>

  <div class="container col-4 d-flex justify-content-center" data-controller="filter">
    <div class="col-6">
      <form novalidate="novalidate" class="filter-form simple_form" action="/bids" accept-charset="UTF-8" method="get">
        <select class="form-control string required" type="text" name="query" id="search_query" data-target="filter.select">
          <option value="rating">rating</option>
          <option value="price">price</option>
        </select>
        <div>
          <button name="button" type="submit" class="btn btn-flat" data-action="filter#applyFilter">
            <i class="fa-solid fa-filter"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <h1 class="bids-text">Here's your bid, Mr. <%= current_user.last_name %> ðŸ’°</h1>


      <div class="movescard d-flex justify-content-center" id="client-index">
        <div class="card">
       
          <div id="indexcard" class="card-body">
              <% @move.bids.where(company_id: @company) %>
            </div>
              <span id="showcards" class="card-title">
                <i class="iconmove fa-solid fa-calendar" style="color: #f66b0e;"></i>
                <%= @move.date.strftime("%d %b %Y") %>
              </span>
              <span id="showcards" class="card-title">
                <i class="iconmove fa-regular fa-clock" style="color: #f66b0e;"></i>
                <%= @move.date.strftime("%l:%m %p") %>
              </span>
              <span id="showcards" class="card-text"><i class="iconmove fa-solid fa-location-dot" style="color: #f66b0e;"></i> From: <%= @move.start_point %></span>
              <span id="showcards" class="card-text"><i class="iconmove fa-solid fa-map-pin" style="color: #f66b0e;"></i> To: <%= @move.end_point %></span>
            </div>
          </div>
        </div>
      </div>




<% elsif Client.find_by(user_id: current_user.id) && @move.bids.present?%>

    <div class="container col-4 d-flex justify-content-center" data-controller="filter">
    <div class="col-6">
      <form novalidate="novalidate" class="filter-form simple_form" action="/bids" accept-charset="UTF-8" method="get">
        <select class="form-control string required" type="text" name="query" id="search_query" data-target="filter.select">
          <option value="rating">rating</option>
          <option value="price">price</option>
        </select>
        <div>
          <button name="button" type="submit" class="btn btn-flat" data-action="filter#applyFilter">
            <i class="fa-solid fa-filter"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <h1 class="bids-text">My recieved bids</h1>
  <div class="container-full" id="client-index">
    <div  class="container-full">
      <div class="movescard" id="client-index" data-controller="hbutton">
        <% @move.bids.each do |bid| %>
          <div class="card" data-controller="popup" data-popup-id-value="<%= bid.id %>">
            <div id="indexcard" class="card-body">
              <div class="card-title-for-status">
                <h4 id="indexcard" ><i class="iconmove fa-solid fa-building " style="color: #f66b0e;"></i><%= Company.find(bid.company_id).name %></h4>
                <div class="status-icon">
                  <%if bid.status == "open"%>
                  <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= bid.status %></h6>
                  <%elsif bid.status = "pending"%>
                    <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= bid.status %> </h6>
                  <%elsif bid.status = "confirmed"%>
                    <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= bid.status %></h6>
                  <%end%>
                </div>
               </div>
                  <h5 id="indexcard" class="card-text"><i class="iconbid fa-solid fa-tag" style="color: #f66b0e;"></i><%= bid.price %>â‚¬ </h5>
                  <h5 id="indexcard" class="card-text"><i class="iconbid fa-solid fa-thumbs-up " style="color: #f66b0e;"></i><%= @rating ="â­" * rand(1..5) %></h5>
                  <div class="d-flex justify-content-between" >
                    <a href="#" data-action="click->popup#open" class="small_button">See details</a>
                    <%= button_to "Hire", hire_bid_path(bid.move_id, bid.id), method: :patch, class: "hire-button small_button_goal", data: { action: "click->bid-hiring#hire" } if !@hired %>
                  </div>
                </div>
              </div>
              <div id="<%= bid.id%>" class="d-none">
                <%= render "bids_show", bid: bid %>
              </div>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
  <% else %>
    <h1 class="bids-text">My recieved bids</h1>
  <div class="container d-flex justify-content-center"  >
    <div id="client-empty-index">
      <h2>Opps! yet to recive any bids please have patience</h2>
    </div>
  </div>
<% end %>
