<% if Company.find_by(user_id: current_user.id) %>

  <div class="container col-4 d-flex justify-content-center" data-controller="filter">
    <div class="col-6">
      <form novalidate="novalidate" class="filter-form simple_form" action="/bids" accept-charset="UTF-8" method="get">
        <select class="form-control string required" type="text" name="query" id="search_query" data-target="filter.select">
          <option value="rating">rating</option>
          <option value="price">price</option>
        </select>
        <div>
          <button name="button" type="submit" class="btn btn-flat" data-action="filter#applyFilter">
            <i class="fa-solid fa-filter"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <h1 class="bids-text">My recieved bids</h1>
  <div class="container-full" id="client-index">
    <div  data-controller="tabs" data-tabs-default-tab-value="two">
      <button id="one" class="small_button card-tab" data-tabs-target="btn " data-action="click->tabs#select">open</button>
      <button id="two" class="small_button " data-tabs-target="btn " data-action="click->tabs#select">pending</button>
      <button id="abc" class="small_button " data-tabs-target="btn " data-action="click->tabs#select">confirmed</button>
      <div  class="container-full">
        <div data-tabs-target="tab" id="one" >
          <div class="movescard" id="client-index" data-controller="hbutton">
            <% @bids.where(status: "open").each do |bid|%>
              <div class="card" data-controller="popup" data-popup-id-value="<%= bid.id %>">
                <div id="indexcard" class="card-body">
                  <h5 id="indexcard" class="card-title-for-status"><i class="iconmove fa-solid fa-building" style="color: #f66b0e;"></i><%= Company.find(bid.company_id).name %></h5>

                  <div class="status-icon">
                    <%if bid.status == "open"%>
                      <h6><i class="fa-solid fa-arrow-rotate-right"></i><%= bid.status %></h6>
                    <%elsif bid.status = "pending"%>
                      <h6><i class="fa-solid fa-arrows-rotate fa-spin"></i><%= bid.status %></h6>
                    <%elsif bid.status = "confirmed"%>
                      <h6><i class="fa-solid fa-square-check" style="color: #73c431;"></i><%= bid.status %></h6>
                    <%end%>
                  </div>
                  <h5 id="indexcard" class="card-text"><i class="iconmove fa-solid fa-tag" style="color: #f66b0e;"></i><%= bid.price %>€ </h5>
                  <h5 id="indexcard" class="card-text"><i class="iconmove fa-solid fa-thumbs-up " style="color: #f66b0e;"></i><%= @rating = "⭐" * rand(1..5) %></h5>
                  <div class="d-flex justify-content-between" >
                    <a href="#" data-action="click->popup#open" class="small_button">contact the client</a>
                  </div>
                </div>
              </div>
              <div id="<%= bid.id%>" class="d-none">
                <%= render "bids_show", bid: bid %>
              </div>
            <% end %>
          </div>
        </div>
        <div data-tabs-target="tab" id="two">
              <div class="movescard" id="client-index">
                <% @bids.where(status: "pending").each do |bid|%>
              <div class="card" data-controller="popup" data-popup-id-value="<%= bid.id %>">
                <div id="indexcard" class="card-body">
                  <h5 id="indexcard" class="card-title-for-status"><i class="iconmove fa-solid fa-building" style="color: #f66b0e;"></i><%= Company.find(bid.company_id).name %>
                    <div class="status-icon">
                      <%if bid.status == "open"%>
                      <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= bid.status %></h6>
                      <%elsif bid.status = "pending"%>
                        <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= bid.status %> </h6>
                      <%elsif bid.status = "confirmed"%>
                        <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= bid.status %></h6>
                      <%end%>
                    </div>
                  </h5>
                  <h5 id="indexcard" class="card-text"><i class="iconbid fa-solid fa-tag" style="color: #f66b0e;"></i><%= bid.price %>€ </h5>
                  <h5 id="indexcard" class="card-text"><i class="iconbid fa-solid fa-thumbs-up " style="color: #f66b0e;"></i><%= "⭐" * rand(1..5) %></h5>
                  <div class="d-flex justify-content-between" >
                    <a href="#" data-action="click->popup#open" class="small_button">See details</a>
                  </div>
                </div>
              </div>
              <div id="<%= bid.id%>" class="d-none">
                <%= render "bids_show", bid: bid %>
              </div>
            <% end %>
          </div>
        </div>
        </div>
        <div data-tabs-target="tab" id="abc">
              <div class="movescard" id="client-index">
                <% @bids.where(status: "confirmed").each do |bid|%>
              <div class="card" data-controller="popup" data-popup-id-value="<%= bid.id %>">
                <div id="indexcard" class="card-body">
                  <h5 id="indexcard" class="card-title-for-status"><i class="iconmove fa-solid fa-building" style="color: #f66b0e;"></i><%= Company.find(bid.company_id).name %>
                    <div class="status-icon">
                      <%if bid.status == "open"%>
                      <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= bid.status %></h6>
                      <%elsif bid.status = "pending"%>
                        <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= bid.status %> </h6>
                      <%elsif bid.status = "confirmed"%>
                        <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= bid.status %></h6>
                      <%end%>
                    </div>
                  </h5>
                  <h5 id="indexcard" class="card-text"><i class="iconbid fa-solid fa-tag" style="color: #f66b0e;"></i><%= bid.price %>€ </h5>
                  <h5 id="indexcard" class="card-text"><i class="iconbid fa-solid fa-thumbs-up " style="color: #f66b0e;"></i><%= "⭐" * rand(1..5) %></h5>
                  <div class="d-flex justify-content-between" >
                    <a href="#" data-action="click->popup#open" class="small_button">See details</a>
                  </div>
                </div>
              </div>
              <div id="<%= bid.id%>" class="d-none">
                <%= render "bids_show", bid: bid %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% elsif Client.find_by(user_id: current_user.id) && @move.bids.present?%>

    <div class="container col-4 d-flex justify-content-center" data-controller="filter">
    <div class="col-6">
      <form novalidate="novalidate" class="filter-form simple_form" action="/bids" accept-charset="UTF-8" method="get">
        <select class="form-control string required" type="text" name="query" id="search_query" data-target="filter.select">
          <option value="rating">rating</option>
          <option value="price">price</option>
        </select>
        <div>
          <button name="button" type="submit" class="btn btn-flat" data-action="filter#applyFilter">
            <i class="fa-solid fa-filter"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <h1 class="bids-text">My recieved bids</h1>
  <div class="container-full" id="client-index">
    <div  class="container-full">
      <div class="movescard" id="client-index" data-controller="hbutton">
        <% @move.bids.each do |bid| %>
          <div class="card" data-controller="popup" data-popup-id-value="<%= bid.id %>">
            <div id="indexcard" class="card-body">
              <div class="card-title-for-status">
                <h4 id="indexcard" ><i class="iconmove fa-solid fa-building " style="color: #f66b0e;"></i><%= Company.find(bid.company_id).name %></h4>
                <div class="status-icon">
                  <%if bid.status == "open"%>
                  <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= bid.status %></h6>
                  <%elsif bid.status = "pending"%>
                    <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= bid.status %> </h6>
                  <%elsif bid.status = "confirmed"%>
                    <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= bid.status %></h6>
                  <%end%>
                </div>
               </div>
                  <h5 id="indexcard" class="card-text"><i class="iconbid fa-solid fa-tag" style="color: #f66b0e;"></i><%= bid.price %>€ </h5>
                  <h5 id="indexcard" class="card-text"><i class="iconbid fa-solid fa-thumbs-up " style="color: #f66b0e;"></i><%= @rating ="⭐" * rand(1..5) %></h5>
                  <div class="d-flex justify-content-between" >
                    <a href="#" data-action="click->popup#open" class="small_button">See details</a>
                    <%= button_to "Hire", hire_bid_path(bid.move_id, bid.id), method: :patch, class: "hire-button small_button_goal", data: { action: "click->bid-hiring#hire" } if !@hired %>
                  </div>
                </div>
              </div>
              <div id="<%= bid.id%>" class="d-none">
                <%= render "bids_show", bid: bid %>
              </div>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
  <% else %>
    <h1 class="bids-text">My recieved bids</h1>
  <div class="container d-flex justify-content-center"  >
    <div id="client-empty-index">
      <h2>Opps! yet to recive any bids please have patience</h2>
    </div>
  </div>
<% end %>
