<div class="container col-4 d-flex justify-content-center">
  <div class =" col-6">
    <form novalidate="novalidate" class="filter-form simple_form " action="/" accept-charset="UTF-8" method="get">
        <select class="form-control string required" type="text" name="search[query]" id="search_query" >
          <option value="rating">rating</option>
          <option value="price">price</option>
        </select>
    </form>
  </div>

    <div><button name="button" type="submit" class="btn btn-flat">
            <i class="fa-solid fa-filter"></i>
          </button>
    </div>

</div>
<div class="container" width=50%>
  <div class="container col-10 mt-2 flex-wrap rounded d-flex justify-content-center ">
    <div class=" w-75 d-flex justify-content-center align-items-center flex-column mb-3" style="margin-top: 15px; ">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">open</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">pending</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">confirmed</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
    </div>
  </div>
</div>

  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="container col-10 mt-2 flex-wrap rounded d-flex justify-content-center ">
      <div class=" w-75 d-flex justify-content-center align-items-center flex-column mb-3" style="margin-top: 15px; ">
      <% @bids.where(status: "open").each do |bid| %>
        <div id="Bids-cards" class="card-body mb-5 border d-flex">
          <h6 class="card-title"> </h6>
          <h6 class="titletext">  </h6>
          <div class="bid-div-col">
            <i class="icon-1 fa-solid fa-building" style="color: #f66b0e;"></i>
            <h6><%= Company.find(bid.company_id).name %></h6>
          </div>
          <div class="bid-div-col ">
            <i class="icon-2 fa-solid fa-tag" style="color: #f66b0e;"></i>
            <h6><%= bid.price %>€ </h6>
          </div>
          <div class="bid-div-col">
            <i class="icon-3 fa-solid fa-thumbs-up " style="color: #f66b0e;"></i>
            <%= "⭐" * rand(1..5) %>
          </div>
          <div class="bid-div-col">
            <i class="icon-4 fa-solid fa-calendar" style="color: #f66b0e;"></i>
            <%= bid.created_at.strftime(" %d %b %Y ") %>
          </div>
          <div class="bid-div-col">
            <i class="icon-5 fa-regular fa-clock" style="color: #f66b0e;"></i>
            <%= bid.created_at.strftime("%l:%M %p") %>
          </div>

          <div calss = " d-flex align-items-end ">
            <%= button_to "hire", move_bid_path(bid.move_id, bid.id), method: :get, :class => "hire-button small_button_goal"%>
            <%= button_to "details", move_bid_path(bid.move_id, bid.id),method: :get, :class => "details-button small_button"%>
          </div>
          <div>
            <%if bid.status == "open"%>
              <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= bid.status %></h6>
            <%elsif bid.status = "pending"%>
              <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= bid.status %> </h6>
            <%elsif bid.status = "confirmed"%>
              <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= bid.status %></h6>
            <%end%>
          </div>
        </div>
      <%end %>
        </div>
      </div>
    </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="container col-10 mt-2 flex-wrap rounded d-flex justify-content-center ">
      <div class=" w-75 d-flex justify-content-center align-items-center flex-column mb-3" style="margin-top: 15px; ">
        <% @bids.where(status: "pending").each do |bid| %>
          <div id="Bids-cards" class="card-body mb-5 border d-flex">
            <h6 class="card-title"> </h6>
            <h6 class="titletext">  </h6>
            <div class="bid-div-col">
            <i class="icon-1 fa-solid fa-building" style="color: #f66b0e;"></i>
            <h6><%= Company.find(bid.company_id).name %></h6>
          </div>
          <div class="bid-div-col ">
            <i class="icon-2 fa-solid fa-tag" style="color: #f66b0e;"></i>
            <h6><%= bid.price %>€ </h6>
          </div>
          <div class="bid-div-col">
            <i class="icon-3 fa-solid fa-thumbs-up " style="color: #f66b0e;"></i>
            <%= "⭐" * rand(1..5) %>
          </div>
          <div class="bid-div-col">
            <i class="icon-4 fa-solid fa-calendar" style="color: #f66b0e;"></i>
            <%= bid.created_at.strftime(" %d %b %Y ") %>
          </div>
          <div class="bid-div-col">
            <i class="icon-5 fa-regular fa-clock" style="color: #f66b0e;"></i>
            <%= bid.created_at.strftime("%l:%M %p") %>
          </div>

          <div calss = " d-flex align-items-end ">
            <%= button_to "hire", move_bid_path(bid.move_id, bid.id), method: :get, :class => "hire-button small_button_goal"%>
            <%= button_to "details", move_bid_path(bid.move_id, bid.id),method: :get, :class => "details-button small_button"%>
          </div>
          <div>
            <%if bid.status == "open"%>
              <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= bid.status %></h6>
            <%elsif bid.status = "pending"%>
              <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= bid.status %> </h6>
            <%elsif bid.status = "confirmed"%>
              <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= bid.status %></h6>
            <%end%>
          </div>
        </div>
      <%end %>
        </div>
      </div>
    </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class="container col-10 mt-2 flex-wrap rounded d-flex justify-content-center ">
      <div class=" w-75 d-flex justify-content-center align-items-center flex-column mb-3" style="margin-top: 15px; ">
        <% @bids.where(status: "confirmed").each do |bid| %>
          <div id="Bids-cards" class="card-body mb-5 border d-flex">
            <h6 class="card-title"> </h6>
            <h6 class="titletext">  </h6>
          <div class="bid-div-col">
            <i class="icon-1 fa-solid fa-building" style="color: #f66b0e;"></i>
            <h6><%= Company.find(bid.company_id).name %></h6>
          </div>
          <div class="bid-div-col ">
            <i class="icon-2 fa-solid fa-tag" style="color: #f66b0e;"></i>
            <h6><%= bid.price %>€ </h6>
          </div>
          <div class="bid-div-col">
            <i class="icon-3 fa-solid fa-thumbs-up " style="color: #f66b0e;"></i>
            <%= "⭐" * rand(1..5) %>
          </div>
          <div class="bid-div-col">
            <i class="icon-4 fa-solid fa-calendar" style="color: #f66b0e;"></i>
            <%= bid.created_at.strftime(" %d %b %Y ") %>
          </div>
          <div class="bid-div-col">
            <i class="icon-5 fa-regular fa-clock" style="color: #f66b0e;"></i>
            <%= bid.created_at.strftime("%l:%M %p") %>
          </div>

          <div calss = " d-flex align-items-end ">
            <%= button_to "hire", move_bid_path(bid.move_id, bid.id), method: :get, :class => "hire-button small_button_goal"%>
            <%= button_to "details", move_bid_path(bid.move_id, bid.id),method: :get, :class => "details-button small_button"%>
          </div>
          <div>
            <%if bid.status == "open"%>
              <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= bid.status %></h6>
            <%elsif bid.status = "pending"%>
              <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= bid.status %> </h6>
            <%elsif bid.status = "confirmed"%>
              <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= bid.status %></h6>
            <%end%>
          </div>
        </div>
      <%end %>
        </div>
      </div>
    </div>
