
</div class="container m-3">
      <h5 class="card-title"><%= @move.date %></h5>
      <p class="card-text"><%= @move.start_point %></p>
      <p class="card-text"><%= @move.end_point %></p>
      <p class="card-text"><%= @move.shipment_info %></p>
      <p class="card-text"><%= @move.status %></p>
      <p class="card-text"><%= @move.expiration %></p>
     
      </div>
  </div>
