<h1>Detail of the bid</h1>
<div class="small-card m-5" id="card-div">
          <%= link_to move_path(@move.id), data:{}, style:"text-decoration:none;", title: "show this @move" do %>
          <div>
            <%if @move.status == "open"%>
              <h6 style="margin-left: 200px"> <i class="fa-solid fa-arrow-rotate-right"></i> <%= @move.status %></h6>
            <%elsif @move.status = "pending"%>
              <h6 style="margin-left: 200px"> <i class="fa-solid fa-arrows-rotate fa-spin"> </i> <%= @move.status %> </h6>
             <%elsif @move.status = "confirmed"%>
              <h6 style="margin-left: 200px"> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= @move.status %></h6>
              <%end%>
          </div>
          <h5 class="card-title"> <i class="fa-solid fa-calendar" style="color: #f66b0e"></i>
            <%= @move.date.strftime("%d %b %Y") %></h5>
            <br>
          <h5 class="card-title"><i class="fa-regular fa-clock" style="color: #f66b0e"></i>
            <%= @move.date.strftime("%l:%m %p") %></h5>
          <br><h6>from</h6>
          <h5 class="card-title"> <i class="fa-solid fa-location-dot" style="color: #f66b0e"></i>
            <%= @move.start_point %></h5>
          <br><h6 class="ml-1" >to</h6>
          <h5 class="card-title"> <i class="fa-solid fa-map-pin"></i> <%= @move.end_point %></h5>
          <br><h6 class="ml-1" >Price</h6>
          <h5 class="card-title"> <i class="fa-solid fa-euro-sign"></i> <%= @bid.price %> € </h5>
          <% end %>
          <br>
          </div>
r
