
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "THELOGO.png", alt: "logo", class: "logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <i class="fa-solid fa-bell navbar-icon" style="color: #f66b0e; padding-right: 15px;" sizes="16x16 32x32" ></i>
          <i class="fa-solid fa-message navbar-icon" style="color: #f66b0e; padding-right: 15px;"></i>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-user navbar-icon" style="color: #f66b0e; padding-right: 15px;"></i>
              <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", client_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, id: "login", class: "nav-link " do %>
              <h4 class= "company">I am a Company &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-circle-user" style="color: #f66b0e; font-size: 25px;"></i></h4>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
