
<div class="container d-flex mt-3 mb-3">
  <div class="small-card container" >
      <h5 class="card-title"> <i class="fa-solid fa-calendar" style="color: #f66b0e"></i><%= move.date.strftime("%d %b %Y") %></h5>
              <br>
      <h5 class="card-title"><i class="fa-regular fa-clock" style="color: #f66b0e"></i><%= move.date.strftime("%l:%m %p") %></h5>
            <br><h6>from</h6>
      <h5 class="card-title"> <i class="fa-solid fa-location-dot" style="color: #f66b0e"></i><%= move.start_point %></h5>
            <br><h6 class="ml-1" >to</h6>
      <h5 class="card-title"> <i class="fa-solid fa-map-pin"></i> <%= move.end_point %></h5>
      <br>
      <h5 class="card-title"> <i class="fa-solid fa-arrows-rotate fa-spin"></i> <%= move.status %></h5>
      <br>
      <h5 class="card-title"> <i class="fa-solid fa-circle-info"></i> <%= move.shipment_info %></h5>
      <br>
      <%# <h5 class="card-title"> <i class="fa-solid fa-map-pin"></i> <% if move.expiration%>
      <%# </h5> %>
      <%= simple_form_for([move, bid]) do |f| %>
        <div class="card-body">
            <h5 class="card-text"><%= f.input :price %></h5>
            <button company_path id="submitBtn" class="small_button_goal" type="submit">Place bid</button>
        </div>
      <% end %>
  </div>
