<h1>My move</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 mb-5">
      <%= simple_form_for(@move) do |f| %>
        <div class="card">
          <div class="card-body">

            <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } } %>

            <%= f.input :start_point, input_html: { data: { address_autocomplete_target: "start_point" } }, wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } } %>

            <%= f.input :end_point %>

            <%= f.input :shipment_info %>

            <%= f.submit "Create", class: " btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
