<h2>Details of the move</h2>
<div class="container-full d-flex justify-content-center">
  <div class="container-full d-flex flex-wrap justify-content-center showcard">
    <div>
      <div id="showcards" class="small-card card-body d-flex flex-column justify-content-between" style = "width:800px">
        <div class="container d-flex" style="justify-content: space-between;">
          <div class="move-status">
            <% if move.status == "open" %>
              <i class="fa-solid fa-arrow-rotate-right"></i> <%= move.status %>
            <% elsif move.status == "pending" %>
              <i class="fa-solid fa-arrows-rotate fa-spin"></i> <%= move.status %>
            <% else move.status == "confirmed" %>
              <i class="fa-solid fa-square-check" style="color: #73c431;"></i> <%= move.status %>
            <% end %>
          </div>
          <div>
            <% if !@next_move.nil? %>
              <%= link_to  move_path(@next_move.id), class: "delete-button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-times"></i>
              <% end %>
            <% end%>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <span id="showcards" class="card-text mb-3">
              <div class="popup">
              </span>
              <span id="showcards" class="card-title">
                <i class="iconmove fa-solid fa-calendar" style="color: #f66b0e;"></i>
                <%= move.date.strftime("%d %b %Y") %>
              </span>
              <span id="showcards" class="card-title">
                <i class="iconmove fa-regular fa-clock" style="color: #f66b0e;"></i>
                <%= move.date.strftime("%l:%m %p") %>
              </span>
              <span id="showcards" class="card-text"><i class="iconmove fa-solid fa-location-dot" style="color: #f66b0e;"></i> From: <%= move.start_point %></span>
              <span id="showcards" class="card-text"><i class="iconmove fa-solid fa-map-pin" style="color: #f66b0e;"></i> To: <%= move.end_point %></span>
            </div>
          </div>
          <div>
            <div>
              <h5 id="shipmenttext" class="card-text"><i class="iconmove fa-solid fa-circle-info"></i> Shipment Info:</h5>
              <p id="shipmenttext" class="card-text"><%= move.shipment_info %></p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <% if Client.find_by(user_id: current_user.id) %>
          <%= link_to "See received bids", move_bids_path(move.id), class: "small_button" %>
          <%= link_to "Edit", edit_move_path(move.id), class: "small_button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
