<div class="card popup" data-controller="popup" data-popup-id-value="<%= move.id %>">
      <div class="status-icon">
        <%if move.status == "open"%>
        <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= move.status %></h6>
        <%elsif move.status = "pending"%>
          <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= move.status %> </h6>
        <%elsif move.status = "confirmed"%>
          <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= move.status %></h6>
        <%end%>
      </div>
      <% bid = move.bids.where(status: "pending").or(move.bids.where(status: "confirmed")).first %>
      <% if bid %>
        <div class="bid-tag">
          <%= link_to "bid", bid_path(bid) %>
        </div>
      <% end %>
      <div id="indexcard" class="card-body" style="box-shadow: 5px 5px 5px grey;">
        <div class="delete_button_wrapper">
          <%= link_to  move_path(move.id), class: "delete-button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-times"></i>
          <% end%>
        </div>
      </div>

</div>


<div class="container-full d-flex justify-content-end addmove">
  <%= link_to "Add a new move", new_move_path, class: "small_button" %>
</div>
<div class="container d-flex justify-content-center">
  <h1 class="moves-text">My published moves</h1>
</div>
<div class="container d-flex justify-content-center mt-5 mb-5">
  <h2>Hello <%= @user.nickname %> !</h2>
</div>
<div class="container d-flex justify-content-center">
  <h5>Here are your published moves.</h5>
</div>
<div class="container d-flex justify-content-center">
  <h5>Check their status for the follow up!</h5>
</div>

<div class="container d-flex flex-wrap justify-content-between" >
  <% @moves.each do |move| %>
    <div class="small-card mb-5" style="width: 540px;" id="card-div">
      <div class="status-icon">
        <%if move.status == "open"%>
        <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= move.status %></h6>
        <%elsif move.status = "pending"%>
          <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= move.status %> </h6>
        <%elsif move.status = "confirmed"%>
          <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= move.status %></h6>
        <%end%>
      </div>
      <%= link_to move_path(move.id), data:{}, style:"text-decoration:none;", title: "show this move" do %>
        <h5 class="card-title"> <i class="fa-solid fa-calendar" style="color: #f66b0e"></i>
          <%= move.date.strftime("%d %b %Y") %></h5>
        <br>
        <h5 class="card-title"><i class="fa-regular fa-clock" style="color: #f66b0e"></i>
          <%= move.date.strftime("%l:%m %p") %></h5>
        <br><h6>from</h6>
        <h5 class="card-title"> <i class="fa-solid fa-location-dot" style="color: #f66b0e"></i>
          <%= move.start_point %></h5>
        <br><h6 class="ml-1" >to</h6>
        <h5 class="card-title"> <i class="fa-solid fa-map-pin"></i> <%= move.end_point %></h5>
      <% end %>
      <br>
      <div class="d-flex justify-content-between">
          <a href="#" data-action="click->popup#open" class="small_button">See details</a>
          <%= link_to "Edit", edit_move_path(move.id), class: "small_button" %>
        </div>
    </div>
  <% end %>
</div>
