<div class="container-full d-flex justify-content-end addmove">
  <%= link_to "Add a new move", new_move_path, class: "small_button" %>
</div>
<div class="container d-flex justify-content-center">
  <h1 class="moves-text">My published moves</h1>
</div>
<div class="movescard" id="client-index">
  <% @moves.each do |move| %>
    <div class="card" data-controller="popup" data-popup-id-value="<%= move.id %>">
      <div id="indexcard" class="card-body">
        <div class="d-flex align-items-center">
          <i class="iconmove fa-solid fa-calendar" style="color: #f66b0e;"></i>
          <h5 id="indexcard" class="card-title"><%=move.date.strftime("%d %b %Y %l:%m %p") %></h5>
        </div>
        <div class="d-flex align-items-center">
          <i class="iconmove fa-solid fa-location-dot" style="color: #f66b0e;"></i>
          <h5 id="indexcard" class="card-text"><%= move.start_point %></h5>
        </div>
        <div class="d-flex align-items-center">
          <i class="iconmove fa-solid fa-map-pin" style="color: #f66b0e;"></i>
          <h5 id="indexcard" class="card-text"><%= move.end_point %></h5>
        </div>
        <div class="d-flex justify-content-between">
          <a href="#" data-action="click->popup#open" class="small_button">See details</a>
          <%= link_to "Edit", edit_move_path(move.id), class: "small_button" %>
          <%= link_to "", move_path(move.id), class: "order-3 btn btn-outline-danger text-light fa-solid fa-trash-can pt-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
    <div id="<%= move.id %>" class="d-none">
      <%= render "show", move: move %>
    </div>
  <% end %>
</div>
<div class="filler-text"></div>
