<div class="container-full d-flex justify-content-end addmove">
  <%= link_to "Add a new move", new_move_path, class: "small_button" %>
</div>
<div class="container d-flex justify-content-center">
  <h1 class="moves-text">My  Moves</h1>
</div>
<div class="container d-flex justify-content-center mt-5">
  <h2>Good afternoon, <%= @user.first_name %>! 👋</h2>
</div>
<div class="container d-flex justify-content-center mb-5">
  <h2>Let's get it Movin'</h2>
</div>
<% if @moves %>
  <div class="container d-flex justify-content-center">
    <h5>This is where your Moves live.</h5>
  </div>
  <div class="container d-flex justify-content-center">
    <h5>Don't forget to check their status!</h5>
  </div>
  <% if @next_move %>
    <h2 style="margin: 65px;">Next Move Coming Up:</h2>
    <div class="container jusfify-content-center d-flex">
      <div class="small-card mb-5 card popup" style="width: 540px;margin-left: 65px;" id="card-div"  data-controller="popup" data-popup-id-value="<%= @next_move.id %>">
        <div class="container d-flex" style="justify-content: space-between;">
          <div class="status-icon mb-3">
            <%if @next_move.status == "open"%>
              <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= @next_move.status %></h6>
            <%elsif @next_move.status = "pending"%>
              <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= @next_move.status %> </h6>
            <%elsif @next_move.status = "confirmed"%>
              <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= @next_move.status %></h6>
            <%end%>
          </div>
          <%= link_to  move_path(@next_move.id), class: "delete-button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-times"></i>
          <% end%>
        </div>

          <h5 class="card-title"> <i class="fa-solid fa-calendar" style="color: #f66b0e"></i>
            <%= @next_move.date.strftime("%d %b %Y") %></h5>
          <br>
          <h5 class="card-title"><i class="fa-regular fa-clock" style="color: #f66b0e"></i>
            <%= @next_move.date.strftime("%l:%m %p") %></h5>
          <br>
          <h6>from</h6>
          <h5 class="card-title"> <i class="fa-solid fa-location-dot" style="color: #f66b0e"></i>
            <%= @next_move.start_point %></h5>
          <br>
          <h6 class="ml-1" >to</h6>
          <h5 class="card-title"> <i class="fa-solid fa-map-pin"></i> <%= @next_move.end_point %></h5>

        <br>
        <div class="d-flex justify-content-between">
          <a href="#" data-action="click->popup#open" class="small_button">See details</a>
          <%= link_to "Edit", edit_move_path(@next_move.id), class: "small_button" %>
        </div>
        <div id="<%= @next_move.id %>" class="d-none">
          <%= render "show", move: @next_move %>
        </div>
      </div class="info mt-5 ">
      <% if @next_move.status=="open" %>
        <div style="width: 540px;padding: 122px;margin-left: 65px;">
          Your move is now published. Wait for companies to bid on it! Review the bids and hire the best company.
        </div>
      <% elsif @next_move.status=="pending" %>
        <div style="width: 540px;padding: 122px;margin-left: 65px;">
          You have now hired a company for your move. Now wait for the company to confirm that they are still available on that date!
        </div>
      <% else %>
        <div style="width: 540px;padding: 122px;margin-left: 65px;">
          The company has confirmed your move! Now relax and let them come pick up your stuff!
        </div>
      <%end  %>
    </div>
  <% else %>
    <h2 style="margin: 65px;">You have no moves yet! add a move!</h2>
  <% end %>
  <% if @moves %>
    <h2 style="margin: 65px;">Future Moves:</h2>
    <div class="container d-flex flex-wrap justify-content-between" >
      <% @moves.each do |move| %>
        <div class="small-card mb-5 card popup" style="width: 540px;" id="card-div"  data-controller="popup" data-popup-id-value="<%= move.id %>">
          <div class="container d-flex" style="justify-content: space-between;">
            <div class="status-icon mb-3">
              <%if move.status == "open"%>
                <h6> <i class="fa-solid fa-arrow-rotate-right"></i> <%= move.status %></h6>
              <%elsif move.status = "pending"%>
                <h6> <i class="fa-solid fa-arrows-rotate fa-spin"> </i><%= move.status %> </h6>
              <%elsif move.status = "confirmed"%>
                <h6> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= move.status %></h6>
              <%end%>
            </div>
            <% if !@next_move.nil? %>
              <%= link_to  move_path(@next_move.id), class: "delete-button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-times"></i>
              <% end%>
            <% end %>
          </div>
            <h5 class="card-title"> <i class="fa-solid fa-calendar" style="color: #f66b0e"></i>
              <%= move.date.strftime("%d %b %Y") %></h5>
            <br>
            <h5 class="card-title"><i class="fa-regular fa-clock" style="color: #f66b0e"></i>
              <%= move.date.strftime("%l:%m %p") %></h5>
            <br>
            <h6>from</h6>
            <h5 class="card-title"> <i class="fa-solid fa-location-dot" style="color: #f66b0e"></i>
              <%= move.start_point %></h5>
            <br>
            <h6 class="ml-1" >to</h6>
            <h5 class="card-title"> <i class="fa-solid fa-map-pin"></i> <%= move.end_point %></h5>
          <br>
          <div class="d-flex justify-content-between">
            <a href="#" data-action="click->popup#open" class="small_button">See details</a>
            <%= link_to "Edit", edit_move_path(move.id), class: "small_button" %>
          </div>
          <div id="<%= move.id %>" class="d-none">
            <%= render "show", move: move %>
          </div>
        </div>
      <% end %>
    </div>
  <%end %>
<%end %>
