<div class="container-fluid text-align-center justify-content-center mb-5">
    <div class="centered-container mb-5">
      <h1>Choose a move and place a bid!</h1>
    </div>
    <div class="d-flex justify-content-between form-container">
      <%# <form novalidate="novalidate" class="search-form simple_form" action="/" accept-charset="UTF-8" method="get"> %>
        <%# <div class="search-form-control form-group"> %>
          <%# <input class="form-control string required" type="text" name="search[query]" id="search_query" /> %>
          <%= form_with url: moves_path, method: :get, class: "search-form simple_form search-form-control form-group" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find the perfect move"
            %>
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
          <% end %>
        <%# </div> %>
      <%# </form> %>

    <form novalidate="novalidate" class="d-flex filter-form simple_form" action="/" accept-charset="UTF-8" method="get">
      <select class="form-control string required" type="text" name="search[query]" id="search_query">
        <option value="5">5km around</option>
        <option value="10">10km around</option>
        <option value="50">50km around</option>
        <option value="100">100km around</option>
      </select>
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fa-solid fa-filter"></i>
      </button>
    </form>
  </div>
</div>

<div class="container">

  <div class="low-container">
    <div class="left-container">
      <div class="move-grid">
        <% @moves.each do |move| %>
        <div class="small-card mb-5" id="card-div">
          <%= link_to move_path(move.id), data:{}, style:"text-decoration:none;", title: "show this move" do %>
          <div>
            <%if move.status == "open"%>
              <h6 style="margin-left: 200px"> <i class="fa-solid fa-arrow-rotate-right"></i> <%= move.status %></h6>
            <%elsif move.status = "pending"%>
              <h6 style="margin-left: 200px"> <i class="fa-solid fa-arrows-rotate fa-spin"> </i> <%= move.status %> </h6>
            <%elsif move.status = "confirmed"%>
              <h6 style="margin-left: 200px"> <i class="fa-solid fa-square-check" style="color: #73c431;"> </i> <%= move.status %></h6>
              <%end%>
          </div>
          <h5 class="card-title"> <i class="fa-solid fa-calendar" style="color: #f66b0e"></i>
            <%= move.date.strftime("%d %b %Y") %></h5>
            <br>
          <h5 class="card-title"><i class="fa-regular fa-clock" style="color: #f66b0e"></i>
            <%= move.date.strftime("%l:%m %p") %></h5>
          <br><h6>from</h6>
          <h5 class="card-title"> <i class="fa-solid fa-location-dot" style="color: #f66b0e"></i>
            <%= move.start_point %></h5>
          <br><h6 class="ml-1" >to</h6>
          <h5 class="card-title"> <i class="fa-solid fa-map-pin"></i> <%= move.end_point %></h5>
          <% end %>
          <br>
          <div class="link-container justify-content-between d-flex">
            <div><%= link_to "Details", move_path(move.id), class: "small_button" %>
            </div>
            <% company = Company.find_by(user_id: current_user)%>
            <% if bid = move.bids.find_by(company_id: company) %>
            <div>
            <h6>your bid</h6>
              <div class = "d-flex">
                <h2><%= bid.price %> €</h2>
                <%= link_to "",edit_move_bid_path(move.id, bid.id), class: "btn text-light fa-solid fa-pen" %>
              </div>
            </div>
            <% else %>
              <%= link_to "Bid", new_move_bid_path(move.id), class: "small_button_goal" %>
            <%end%>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="right-container"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      id='map'
      style='width: 540px; height: 735px;'>
    </div>
  </div>

</div>
