<div class="container-full d-flex justify-content-center"  data-controller="loginform">
</div>
<div id="homepage" class="container-full">
  <%= image_tag "https://images.unsplash.com/photo-1614359835514-92f8ba196357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80" %>
  <div class="text">
    <h1 class="welcome">Welcome to Easy MoveIn</h1>
    <h2 class="welcome2">We make moving fun!</h2>
  </div>
</div>
<div id="homeform" class="container">
  <%= form_with(id: "form", url: "/create", method: "get") do |form| %>
    <div id="page1" class="page">
      <h2>Tell us.. </h2>
      <div class="input-container">
        <label for="dateInput">When?</label>
            <%= form.text_field :date, "data-controller": "datepicker", placeholder: 'When?' %><div class="input-container">
        </div>
      </div>
      <div class="input-container">
        <i class="fa-solid fa-location-dot" style="color: #f66b0e;"></i>
        <label for="startPointInput">Start point</label>
        <%= form.text_field :start_point, required: true, placeholder: 'From where?' %>
      </div>
      <div class="input-container">
        <i class="fa-solid fa-map-pin" style="color: #f66b0e;"></i>
        <label for="endPointInput">Destination</label>
        <%= form.text_field :end_point, required: true, placeholder: 'To where?' %>
      </div>
      <button id="nextBtn1" class="small_button" type="button">Next</button>
    </div>
    <div id="page2" class="page">
      <h2>..And what will you be moving?</h2>
      <%= image_tag "https://images.unsplash.com/photo-1479888230021-c24f136d849f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80", class: "loginimage" %>
      <div class="input-container">
        <%= form.text_area :shipment_info, required: true, placeholder: ' Boots, Tables, and lots of Goats' %>
        <div class="buttons">
          <a id="prevBtn1" class="small_button" type="button">Previous</a>
          <%= form.submit "Continue", class: "small_button_goal" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="container-full">
  <div class=" container d-flex justify-content-center how">
    <h1>How it works</h1>
    <hr class="solid">
  </div>
  <div class=" d-flex justify-content-between align-items-center iconparent">
    <div class="form_icon">
      <i class="fa-brands fa-wpforms" style="color: #f66b0e;"></i>
      <h5>Fill out your details</h5>
    </div>
    <div class="form_icon">
      <i class="fa-solid fa-upload" style="color: #f66b0e;"></i>
      <h5>Post your move</h5>
    </div>
    <div class="form_icon">
      <i class="fa-solid fa-hand-pointer" style="color: #f66b0e;"></i>
      <h5>Select your favourite bid</h5>
    </div>
  </div>
</div>

<%# <div class="container d-flex justify-content-center "> %>
<div class="slider">
  <%# <div class="container-reviews"> %>

  <div class="slide-track">
    <div class="slide card">
        <%# <div class="card"> %>
    <div class="reviewer1">The Daily Condor</div>
    <div class="stars">
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
    </div>
    <br>
    "Easy moveIn changed my life"</div>


    <div class="slide card">
    <%# <div class="card"> %>
      <div class="reviewer2">DER KICHERBLATT</div>
      <div class="stars">
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
    </div>
    <br>
    "Everything is easy"</div>


    <div class="slide card">
    <%# <div class="card"> %>
    <div class="reviewer3">Le Fourgon</div>
      <div class="stars">
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
    </div>
    <br>
    "My life is solved" </div>


    <div class="slide card">
    <%# <div class="card"> %>
    <div class="reviewer4">BERLINER POST</div>
    <div class="stars">
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
    </div>
    <br>
    "The platform that gets you the best deal"</div>

        <div class="slide card">
    <%# <div class="card"> %>
    <div class="reviewer5">THE GERMAN NEWSPAPER</div>
      <div class="stars">
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
    </div>
    <br>
    "Best platform ever!" </div>

        <div class="slide card">
    <%# <div class="card"> %>
    <div class="reviewer6">The Kreuzberger</div>
      <div class="stars">
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
    </div>
    <br>
    "Average users save 100€ per move" </div>

        <div class="slide card">
    <%# <div class="card"> %>
    <div class="reviewer7">Le Berlin Magazin</div>
      <div class="stars">
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
    </div>
    <br>
    "The platform that finds the best professionals" </div>

        <div class="slide card">
    <%# <div class="card"> %>
    <div class="reviewer8">BERLIN TODAY</div>
      <div class="stars">
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
      <i class="fa-solid fa-star" style="color: #f66b0e;"></i>
    </div>
    <br>
    "The top 5 most used webpages in 2023" </div>

  </div>
</div>
